.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, lightblue 50%, turquoise);
    margin: 0;
    padding: 0;
    text-align: center;
}

.titels {
    text-align: center;
     font-size: large;
}

header {
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;  
}


.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.header-text {
    text-align: center;
}


.about {
    background-color: white;
    margin: 45px auto;
    max-width: 500px;
    padding: 0 20px;
    border-radius: 50px;
}

.projects {
    margin: 45px auto;
    max-width: 500px;
    padding: 0px 20px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

.projects:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}


.project-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    padding-bottom: 10px;
}

.project-card{
    background-color: white;
    border-radius: 40px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.05);

}

a.Link {
    text-decoration: none;
    color: black;
}

a.Link:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    align-items: center;
    gap: 20px;            
    background-image: linear-gradient(to right, white 50%, lightgray);
    padding: 10px;
    margin-top: auto; 
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

footer p {
    margin: 0;
}

footer a.Link {
    margin: 0;
}

.contact-info {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contact-info-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contact-info-link:hover {
    text-decoration: underline;
    font-size: medium;
}

@media (max-width: 360px) {
    footer {
        gap: 10px;
        padding: 8px;
    }
}

@media (max-width: 500px) {
    .project-grid {
        flex-direction: column;
        align-items: center;
    }
}

.project-card {
    width: 90%;
}